@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@400;800&display=swap");

.side-drawer {
  width: 30%;
  height: 100vh;
  background: #f4f4f4;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  /* justify-content: center; */
}
.side-drawer.show {
  transform: translateX(0);
}
.sidedrawer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.sidedrawer-links > li {
  display: flex;
  align-items: center;
}
.sidedrawer-links > li > a {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* text-align: center; */
  flex: 1;
  padding: 0.5rem 0;
  text-decoration: none;
  color: #171717;
  font-size: 1.2rem;
}
.sidedrawer-links > li > a:hover {
  background: rgb(8, 8, 43);
  color: cornsilk;
}
.sidedrawer-links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.sidedrawer-order-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(8, 8, 43);
  color: cornsilk;
  margin-left: 8px;
  font-size: 1rem;
}
.sidedrawer-links > li > a:hover .sidedrawer-order-number {
  background-color: #fff;
  color: #171717;
}

.sidedrawer_container {
  margin: 0 auto;
  width: 95%;
}
.sidedrawer_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidedrawer_header > h1 {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-weight: 800;
  letter-spacing: 3px;
}

.sidedrawer-link {
  display: none;
}

@media (max-width: 700px) {
  .side-drawer {
    width: 40%;
  }
}

@media (max-width: 490px) {
  .sidedrawer-links {
    display: none;
  }
  .sidedrawer-link {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .sidedrawer-link > li {
    display: flex;
    align-items: center;
  }
  .sidedrawer-link > li > a {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* text-align: center; */
    flex: 1;
    padding: 0.5rem 0;
    text-decoration: none;
    color: #171717;
    font-size: 1.2rem;
  }
  .sidedrawer-link > li > a:hover {
    background: rgb(8, 8, 43);
    color: cornsilk;
  }
  .sidedrawer-link > li > a > span {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }
}
